[user]
    name = Jeff Forcier
    email = jeff@bitprophet.org
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    ci = commit -a
    st = status
    co = checkout
    ba = branch -a
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
    default = matching
