[user]
    name = Jeff Forcier
    email = jeff@bitprophet.org
[color]
    ui = auto
[core]
    excludesfile = "~/.gitexcludes"
# Only works on Git 2.28+
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    default = matching
    followTags = true
[rerere]
    enabled = true
