# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout
!.profile

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zsh/contrib
!.zsh/contrib/*
# Do ignore the data directory (my construct, it's where completion cache,
# history etc live)
.zsh/data
.zsh/data/*
# Do ignore local/sensitive settings
.zsh/local
# Swapfiles (sigh)
.zsh/*.swp

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes

# Mercurial config (yup, stored in a Git repository. Take that, hg!)
!.hgrc

# IPython config (need directory here so gitignore works correctly.
# This won't actually pull in the other contetns of the dir, though.
# Which is good as all I care about is the...
!.ipython
# ipythonrc file!
!.ipython/ipythonrc

# Virtualenvwrapper hooks
!.virtualenvs/postmkvirtualenv

# IRb config
!.irbrc
# RVM config
!.rvmrc

# Vim plugins, ftplugins, syntax etc etc
!.vim
!.vim/*
# But do ignore netrw history
.vim/.netrwhist
!.vim/autoload/*
!.vim/autoload/*/*
# Pathogen bundle stuff (WTB recursive gitignore excludes...)
# e.g. .vim/bundle/<plugin>/syntax/special_syntax.vim
# (Added a few more asterisks just to cover any deeper setups. Sigh.)
!.vim/bundle
!.vim/bundle/*
!.vim/bundle/*/*
!.vim/bundle/*/*/*
!.vim/bundle/*/*/*/*
!.vim/bundle/*/*/*/*/*
!.vim/colors/*
!.vim/doc/*
!.vim/ftdetect/*
!.vim/ftplugin/*
!.vim/ftplugin/*/*
!.vim/indent/*
!.vim/plugin/*
!.vim/spell/*
!.vim/syntax/*
# Vim settings
!.vimrc

# Local copies of tools/scripts
!bin
!bin/*
bin/.*.swp
# This is an actual binary that comes from a third party app
!bin/asciinema
# Same
!bin/rack

# Config for local daemons (e.g. squid)
!etc
!etc/*
etc/clusto*.conf

# Screen, tmux
!.screenrc
!.tmux.conf
!.tmux
!.tmux/*.yml

# Gem config
!.gemrc

# Mutt
!.muttrc
!.mutt
!.mutt/*

# RTorrent
!.rtorrent.rc

# Ack
!.ackrc

# Teamocil
!.teamocil
!.teamocil/*

# Synergy
!.synergy.conf

# Leiningen (Clojure)
!.lein
!.lein/profiles.clj
