[user]
    name = Jeff Forcier
    email = jeff@bitprophet.org
[color]
    ui = auto
[push]
    default = matching
    followTags = true
[core]
    excludesfile = "~/.gitexcludes"
[rerere]
    enabled = true
